<ng-container *ngIf="workers.length > 0">
  <div class="row">
    <div class="col-12">
      <h5>{{ title }}</h5>
      <table class="table">
        <thead>
          <tr>
            <th scope="col" [style.width]="'100px'">#</th>
            <th scope="col" [style.width]="'40%'">Имя</th>
            <th scope="col">Фамилия</th>
            <th scope="col" [style.width]="'150px'"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let worker of workers">
            <th scope="row">{{ worker.id }}</th>
            <td>{{ worker.name }}</td>
            <td>{{ worker.surname }}</td>
            <td>{{ worker.number }}</td>
            <td>
              <button
                class="btn btn-outline-danger btn-sm"
                (click)="onDeleteWorker(worker.id)"
              >
                УДАЛИТЬ
              </button>
                <button
              (click)="onChangeWorker1(worker)"
                class="btn btn-outline-danger btn-sm"
                
                
                
              >
                ИЗМЕНИТЬ
              </button>  
          
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-container>
