
<dialog>
  <p>Измените данные</p>
  <form method="dialog">
    <form class="px-4 py-3" [formGroup]="formChanger" [style.width]="'200px'">
     
      <div class="alert alert-success" role="alert"
      *ngIf="(formChanger.get('name').valid &&
       (formChanger.get('surname').valid) &&
      (formChanger.get('number').valid))">
      <strong>Правильно!</strong>
  </div>
      
  <div class="alert alert-danger" role="alert"
  *ngIf="((formChanger.get('name').invalid) || 
  (formChanger.get('surname').invalid) || 
  (formChanger.get('number').invalid))">
  <strong> неправильно!</strong>
</div>
      
      <div class="form-group"  >
          <label for="DropdownName">Name</label>
          <input type="text" class="form-control" id="DropdownName" formControlName="name"
              placeholder="Name" required />
      </div>
      <div class="form-group">
          <label for="DropdownSurname">Surname</label>
          <input type="text" class="form-control" id="DropdownSurname" formControlName="surname"
              placeholder="Surname" required />
      </div>
      <div class="form-group">
          <label for="DropdownNumber">Number</label>
          <input [textMask]="{mask: mask}" class="form-control" id="DropdownNumber" formControlName="number"
              placeholder="Number" required />
      </div>
      <div class="form-group">
          <label for="DropdownType">Type</label>
          <select class="custom-select" id="DropdownType" formControlName="type">
              <option [ngValue]="myWorkerType.programmer">Программист</option>
              <option [ngValue]="myWorkerType.designer">Дизайнер</option>
              <option [ngValue]="myWorkerType.copywriter">Рекламщик</option>
              <option [ngValue]="myWorkerType.manager">Менеджер</option>
          </select>
      </div>
  <button type="submit" value="no" id="ok" [hidden]="formChanger.invalid" >Изменить</button>
  
  
  </form>
</form>
  </dialog>
<div class="container">
  
  <div class="row mb-3">
    <div class="col-12">
      <h1>{{ title }}</h1>
    </div>
  </div>
  <app-addform-worker (addWorker)="onAddWorker($event)"></app-addform-worker>
  
   <app-table-workers (changeWorker)="onChangeWorker($event)"></app-table-workers>
   <p class="h2">Поиск</p>
   <input type="text" class="form-control" placeholder="Начните вводить имя или фамилию"  [(ngModel)] = "search"  />
  <app-table-workers
    [title]="'Программисты'"
    [workers]="getByType(myWorkerType.programmer)| filter:search"
    (deleteWorker)="onDeleteById($event)"
    (changeWorker) = "onChangeWorker($event)"
  ></app-table-workers>
 
  <app-table-workers
    [title]="'Дизайнеры'"
    [workers]="getByType(myWorkerType.designer)| filter:search"
    (deleteWorker)="onDeleteById($event)"
    (changeWorker) = "onChangeWorker($event)"
  ></app-table-workers>
  <app-table-workers
    [title]="'Рекламщики'"
    [workers]="getByType(myWorkerType.copywriter)| filter:search"
    (deleteWorker)="onDeleteById($event)"
    (changeWorker) = "onChangeWorker($event)"
  ></app-table-workers>
  <app-table-workers
    [title]="'Менеджеры'"
    [workers]="getByType(myWorkerType.manager)| filter:search"
    (deleteWorker)="onDeleteById($event)"
    (changeWorker) = "onChangeWorker($event)"
  ></app-table-workers>

  <hr />
  <div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button
          class="btn btn-outline-primary"
          id="dropdownForm1"
          ngbDropdownToggle
        >
          Toggle dropdown
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownForm1">
         
          <form class="px-4 py-3">
            <div class="form-group">
              <label for="exampleDropdownFormEmail1">Email address</label>
              <input
                type="email"
                class="form-control"
                id="exampleDropdownFormEmail1"
                placeholder="email@example.com"
              />
            </div>
            <div class="form-group">
              <label for="exampleDropdownFormPassword1">Password</label>
              <input
                type="password"
                class="form-control"
                id="exampleDropdownFormPassword1"
                placeholder="Password"
              />
            </div>
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="dropdownCheck"
              />
              <label class="form-check-label" for="dropdownCheck">
                Remember me
              </label>
            </div>
            <button type="submit" class="btn btn-primary">Sign in</button>
          </form>
          <div class="dropdown-divider"></div>
          <button ngbDropdownItem>New around here? Sign up</button>
          <button ngbDropdownItem>Forgot password?</button>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="row mb-3">
    <mat-spinner></mat-spinner>
  </div>
 
</div>

